@charset 'utf-8';

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Import a Icon
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

// Set colors
$purple: #C9168d;
$pink: #FA7C91;
$dark: #333;
$beige-lighter:rgb(245,245,245);

// Update global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $purple;
$link: $dark;
$dange: $pink;

// Update component variables
$body-background-color: $beige-lighter;

@import '../../node_modules/bulma/bulma.sass';

.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .login-box{
        width: 350px;
        padding: 1.5rem 1.5rem 2rem 1.5rem;
    }
}